{{! View to show a single product }}
<div class='product-container'>

	<img src='{{product.thumbnail}}' alt='Product Thumbnail' />

	<div>

		<h2>{{product.title}}</h2>
		<p>Id: {{product.id}}</p>
		<p>{{product.description}}</p>
		<p>Precio: {{product.price}}</p>
		<p>Stock: {{product.stock}}</p>
		<p>Status: {{product.status}}</p>
		<p>Category: {{product.category}}</p>
	</div>
	<div class='container-buttons j-between'>
		<div>
			<p> Add to cart</p>
			<div class='container'>
				<button id='subs-to-cart-btn' data-product-id='{{product.id}}'>-</button>
				<button id='add-to-cart-btn' data-product-id='{{product.id}}'>+</button>
			</div>
		</div>
		<button onclick="window.location.href = '/products'">Products List</button>
	</div>
</div>

<script src='/js/product.js'></script>

{{! CDN for the sweetalert2 }}
<script src='//cdn.jsdelivr.net/npm/sweetalert2@11'></script>